body {
    padding: 50px;
}

ul {
    width: 100%;
}

.item {
    position: relative;
    width: 500px;
    background: #e4e4e4;
    transition: all 0.5s cubic-bezier(0.23, 1, 0.32, 1);
    margin: 0 auto;
    margin-bottom: 2px;
    height: 35px;
}

.item.active {
    background: #ffb600;
    width: 600px;
    height: 165px;
    padding: 10px;
}

.item a,
.item span {
    font-family: 'Ubuntu', sans-serif;
    margin: 5px;
    transition: all 0.2s cubic-bezier(0.23, 1, 0.32, 1);
}

.item .title {
    font-size: 1.15em;
    font-weight: 600;
}

.item.active .title {
    font-size: 2.3em;
    display: block;
}

.item .price {
    display: inline-block;
    background: rgba(0, 0, 0, .15);
    padding: 5px;
    color: #fff;
    font-weight: 600;
    float: right;
}

.item.active .price {
    font-size: 2.0em;
    position: absolute;
    bottom: 7px;
    right: 200px;
}

.item .time,
.item .discount {
    font-size: 0.7em;
}

.item .assine,
.item .frete,
.item .obs,
.item .bonus {
    display: none;
}

.item.active .obs {
    display: block;
    position: absolute;
    bottom: 5px;
}

.item.active .frete {
    display: block;
    position: absolute;
    top: 10px;
    right: 125px;
    padding: 5px;
    background: #fff;
}

.item.active .assine {
	    display: block;
    position: absolute;
    bottom: 6px;
    right: 10px;
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 600;
    background: #3ec15d;
    color: #fff;
    padding: 7px 23px;
    border-radius: 15px;
}

.item.active .bonus {
    display: block;
    position: absolute;
    right: 10px;
    top: 10px;
}

.item.active .time,
.item.active .discount {
    display: block;
    font-size: 1.3em;
}
